/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.body--fixed {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-white);
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

/* CSS resets */

/*Variables*/
:root {
  --bg-color: #fff;
  --text-black: #333332;
  --text-white: #fff;
  --nav-active-color: #d87f3f;
  --gradient: linear-gradient(-45deg, #de813c, #3f519a);
}

/*Animations*/
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

body {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header
=========
*/
.header {
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
}

.header_logo {
  content: url("../assets/nmt_logo.svg");
  max-width: 64px;
  max-height: 64px;
}

/*Fixed header*/
.header--fixed {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.2s ease-out;
}

.header--closed {
  padding: 5px 0;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.2s ease-out;
}

/*Navigation*/
.nav {
  align-items: center;
  font-weight: 700;
}

.nav_items {
  display: flex;
}

.nav_item {
  margin-right: 30px;
}

.nav_item:last-child {
  margin: 0;
}

.nav_link {
  position: relative;
  transition: color 0.15s ease-out;
  color: var(--text-white);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link {
  color: var(--text-black);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link.active {
  color: var(--nav-active-color);
}

.nav_link:hover {
  color: var(--nav-active-color);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link:hover {
  color: var(--nav-active-color);
}

.nav_link::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--nav-active-color);
  transition: transform 0.15s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.nav_link.active {
  color: var(--nav-active-color);
}

.nav_link.active::after {
  transform: scaleX(1);
}

/*Nav toggle menu*/
#nav-toggle,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 36px;
  height: 36px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-toggle.open {
  padding-bottom: 1px;
}

#nav-toggle span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--nav-active-color);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0px;
}

#nav-toggle span:nth-child(2) {
  top: 15px;
}

#nav-toggle span:nth-child(3) {
  top: 29px;
}

#nav-toggle.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-toggle.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*Sidebar*/
.sidebar {
  height: 100vh;
  width: 40vw;
  padding-top: 80px;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;

  backdrop-filter: blur(10px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}

.sidebar.open {
  right: 0;
}

.sidebar_link {
  display: block;
  color: var(--text-black);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sidebar_link:last-child {
  margin-bottom: 0;
}

.sidebar_link.active {
  color: var(--nav-active-color);
}

/* Intro
========
*/
.intro {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/students_logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_gradient {
  width: 100%;
  height: 100vh;
  background-image: var(--gradient);
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 102px;
  font-weight: 800;
  font-family: "Lobster", sans-serif;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;
}

/*Registration*/
.registration {
  margin-top: 65px;
  margin-bottom: 50px;
}

.registration_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 20px;
}

.registration_subtitle {
  margin: 20px 0 10px 0;
  color: var(--text-black);
}

.registration_instructions {
  list-style: decimal inside;
}

.registration_instructions > li {
  padding-bottom: 5px;
}

.registration_instructions > li > ul {
  list-style: disc inside;
  font-size: 16px;
}

.registration_instructions > li > ul > li {
  margin-left: 10px;
  padding-bottom: 5px;
}

.registration_instructions > li > ul > li:last-child {
  padding-bottom: 0;
}

.registration_instructions > li > ul > li > a,
.registration_instructions > li > ul > li > b > a {
  text-decoration: underline;
}

.additional_register_info {
  margin: 10px 0;
  font-weight: 500;
}

.additional_register_info > a {
  text-decoration: underline;
}

.registration_video {
  border: 0;
  width: 100%;
  height: 660px;
}

/*Cards*/

.cards {
  margin-bottom: 50px;
}

.cards_title {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 5px;
}

.cards_subtitle {
  text-align: center;
  color: var(--text-black);
  font-weight: 500;
  margin-bottom: 40px;
}

.cards__inner {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  min-width: 300px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.card_img {
  width: 100%;
  max-height: 200px;
  border-radius: inherit;
  box-shadow: 0px 10px 9px 0px #878787;
}

.card_title {
  color: var(--text-black);
  margin: 20px 0;
}

.card_text {
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px 0 40px;
  margin-bottom: 25px;
}

.card_btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_btn {
  display: block;
  background: var(--gradient);
  color: var(--text-white);
  padding: 15px 25px;
  border-radius: 30px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 600;
  transition: box-shadow 0.15s ease-out;
  width: auto;
  max-width: 150px;
  cursor: pointer;
}

.card_btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

/*Coaches*/
.coaches {
  margin-bottom: 80px;
}

.team_description {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto 35px auto;
}

.coach_title {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-black);
  margin-bottom: 20px;
}

.coach_subtitle {
  font-weight: 300;
  color: var(--text-black);
}

.coach_description {
  text-align: center;
}

.coaches__inner {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: #f4f4f4;
  padding: 20px 60px 40px 60px;
}

.coach_name {
  color: var(--text-black);
  font-size: 20px;
}

.coach_profession {
  color: var(--text-black);
}

.coach_photo {
  width: 230px;
  border-radius: 15px;
}

/*Reviews*/
.review__inner {
  display: flex;
}

.review_left {
  flex: 3 1 0;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

.review_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.reviewer_name {
  color: var(--text-black);
  font-size: 65px;
  margin-bottom: 50px;
}

.review_text {
  font-weight: 300;
}

.review_scores {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_item {
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.slider_item > .bar {
  background: var(--gradient);
  height: 10px;
  border-radius: 15px;
}

.slider_text {
  display: flex;
  justify-content: space-between;
}

/*.slider_item::after {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 8px;*/
/*  border-radius: 10px;*/
/*  position: absolute;*/
/*  background: var(--gradient);*/
/*}*/

.review_right {
  flex: 2 1 0;
}

.review_img {
  max-height: 750px;
  border-radius: 15px;
}

/*Footer*/
.footer {
  width: 100%;
  height: 50px;
  background: var(--gradient);
  margin-top: 40px;
}

.footer > .container {
  height: 100%;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer_copyright {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-black);
}

.footer_links {
  display: flex;
}

.footer_link {
  margin-left: 8px;
  height: 20px;
}

.footer_link_icon {
  filter: invert(22%) sepia(0%) saturate(1746%) hue-rotate(138deg)
    brightness(101%) contrast(106%);
  height: 20px;
  width: auto;
  transition: all 0.2s ease-out;
}

.footer_link_icon:hover {
  filter: unset;
}

/*Media*/
@media (max-width: 1300px) {
  body {
    font-size: 17px;
  }

  /*Title*/
  .title {
    font-size: 90px;
  }

  .subtitle {
    font-size: 28px;
  }

  /*Coaches*/
  .coach_photo {
    width: 200px;
    margin: 0 10px;
  }
}

@media (max-width: 1170px) {
  body {
    font-size: 16px;
  }

  /*Registration*/
  .registration_video {
    height: 640px;
  }

  /*Review*/
  .review_img {
    max-height: 700px;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 15px;
  }

  /*Registration*/
  .registration_title {
    font-size: 30px;
  }

  .registration_instructions > li > ul {
    font-size: 13px;
  }

  .registration_video {
    height: 600px;
  }

  /*Cards*/
  .cards_title {
    font-size: 42px;
  }
  /*Coache*/
  .coach_title {
    font-size: 42px;
  }

  .coaches__inner {
    padding: 20px 60px 20px 60px;
  }

  .coach {
    margin-bottom: 20px;
  }

  /*Review*/
  .review_header {
    margin-bottom: 40px;
  }

  .reviewer_name {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .slider_item {
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  /*Intro*/
  .title {
    font-size: 72px;
  }

  .subtitle {
    font-size: 22px;
  }

  /*Header*/
  .header {
    height: 48px;
  }

  .header_logo {
    max-width: 48px;
    max-height: 48px;
  }

  /*Card*/
  .cards {
    margin: 50px 0 10px 0;
  }

  .cards__inner {
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 40px;
  }

  /*Review*/
  .reviewer_name {
    font-size: 48px;
  }

  .slider_text {
    font-size: 17px;
  }

  .slider_item > .bar {
    height: 7px;
  }

  .review_img {
    max-height: 600px;
  }
}

@media (max-width: 890px) {
  .review_img {
    height: 500px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  /*Header*/
  .nav {
    display: none;
  }

  #nav-toggle {
    display: block;
  }

  /*Intro*/
  .title {
    font-size: 68px;
  }

  .subtitle {
    font-size: 20px;
  }

  /*Coaches*/
  .coaches {
    margin-bottom: 50px;
  }

  /*Registration*/
  .registration_title {
    font-size: 25px;
  }

  .registration_instructions > li > ul {
    font-size: 12px;
  }

  .registration_video {
    height: 430px;
  }

  /*Review*/
  .review__inner {
    flex-direction: column;
    align-items: center;
  }

  .review_left {
    padding: 0;
    align-items: center;
    margin-bottom: 40px;
  }

  .review_header {
    margin-bottom: 30px;
  }

  .reviewer_name {
    font-size: 42px;
    text-align: center;
    margin-bottom: 15px;
  }

  .review_text {
    text-align: center;
  }

  .review_scores {
    min-width: 600px;
  }

  .slider_item {
    margin-bottom: 20px;
  }

  .slider_item:last-child {
    margin-bottom: 0;
  }

  .slider_text {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }

  /*Intro*/
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 16px;
  }

  .registration_title {
    font-size: 18px;
  }

  /*Cards*/
  .cards_title {
    font-size: 36px;
  }

  /*Coaches*/
  .coach_title {
    font-size: 36px;
  }

  /*Review*/
  .reviewer_name {
    font-size: 40px;
  }

  .review_scores {
    min-width: 400px;
  }
  .slider_item > .bar {
    height: 6px;
  }

  .review_img {
    max-height: 500px;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 12px;
  }

  /*Intro*/
  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 13px;
  }

  /*Registration*/
  .registration_instructions > li > ul {
    font-size: 11px;
  }

  /*Reviews*/
  .review_scores {
    min-width: 300px;
  }

  .slider_text {
    font-size: 12px;
  }

  .review_img {
    height: 300px;
  }
}
