/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.body--fixed {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-black);
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*button {*/
/*  border: 0;*/
/*  background-image: none;*/
/*  background-color: transparent;*/
/*  -webkit-box-shadow: none;*/
/*  -moz-box-shadow: none;*/
/*  box-shadow: none;*/
/*  cursor: pointer;*/
/*}*/

/* CSS resets */

/*Variables*/
:root {
  --bg-color: #fff;
  --text-black: #333332;
  --text-white: #fff;
  --nav-active-color: #d87f3f;
  --gradient: linear-gradient(-45deg, #de813c, #3f519a);
}

body {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header
=========
*/
.header {
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  position: relative;
  z-index: 1001;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 64px;
}

.header_logo {
  content: url("../assets/nmt_logo.svg");
  max-width: 64px;
  max-height: 64px;
}

/*Fixed header*/
.header--fixed {
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.2s ease-out;
}

.header--closed {
  padding: 5px 0;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.2s ease-out;
}

/*Navigation*/
.nav {
  align-items: center;
  font-weight: 700;
}

.nav_items {
  display: flex;
}

.nav_item {
  margin-right: 30px;
}

.nav_item:last-child {
  margin: 0;
}

.nav_link {
  position: relative;
  transition: color 0.15s ease-out;
  color: var(--text-black);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link {
  color: var(--text-black);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link.active {
  color: var(--nav-active-color);
}

.nav_link:hover {
  color: var(--nav-active-color);
}

.header--fixed
  > .container
  > .header__inner
  > .nav
  > .nav_items
  > .nav_item
  > .nav_link:hover {
  color: var(--nav-active-color);
}

.nav_link::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--nav-active-color);
  transition: transform 0.15s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.nav_link.active {
  color: var(--nav-active-color);
}

.nav_link.active::after {
  transform: scaleX(1);
}

/*Nav toggle menu*/
#nav-toggle,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 36px;
  height: 36px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

#nav-toggle.open {
  padding-bottom: 1px;
}

#nav-toggle span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--nav-active-color);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0px;
}

#nav-toggle span:nth-child(2) {
  top: 15px;
}

#nav-toggle span:nth-child(3) {
  top: 29px;
}

#nav-toggle.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-toggle.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-toggle.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*Sidebar*/
.sidebar {
  height: 100vh;
  width: 40vw;
  padding-top: 80px;
  text-align: right;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;

  backdrop-filter: blur(10px);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);

  transition: all 0.3s ease-in-out;
}

.sidebar.open {
  right: 0;
}

.sidebar_link {
  display: block;
  color: var(--text-black);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sidebar_link:last-child {
  margin-bottom: 0;
}

.sidebar_link.active {
  color: var(--nav-active-color);
}

/*App*/
.app {
  max-width: 700px;
  margin: 100px auto 0;
  padding: 30px;
}

.quiz_title {
  border-bottom: 1px solid var(--text-black);
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.answer_btn {
  background-color: #fff;
  color: var(--text-black);
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--text-black);
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;

  transition: all 0.15s ease-out;
}

.answer_btn:hover:not([disabled]) {
  background-color: #222;
  color: var(--text-white);
}

.answer_btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: var(--gradient);
  color: var(--text-white);
  font-size: 15px;
  font-weight: 500;

  width: 170px;
  padding: 10px;
  margin: 20px auto 0;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;

  transition: all 0.15s ease-out;
}

#next-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

/*Bad Results*/
.results_title {
  text-align: center;
  margin-bottom: 20px;
}

.results__inner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.result_card {
  max-width: 270px;
  margin-bottom: 20px;
}

.result_card:last-child {
  margin-bottom: 0;
}

.resultCardImg {
  max-width: 270px;
}

/*Media*/
@media (max-width: 1300px) {
  body {
    font-size: 17px;
  }
}

@media (max-width: 1170px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 980px) {
  /*Header*/
  .header {
    height: 48px;
  }

  .header_logo {
    max-width: 48px;
    max-height: 48px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14px;
  }

  /*Header*/
  .nav {
    display: none;
  }

  #nav-toggle {
    display: block;
  }

  /*Quiz*/
  #question {
    font-size: 18px;
  }
  .answer_btn {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 13px;
  }

  .sidebar_link {
    font-size: 16px;
  }

  /*Quiz*/
  .quiz_title {
    font-size: 24px;
    padding-bottom: 20px;
  }

  #question {
    font-size: 16px;
  }
  .answer_btn {
    font-size: 13px;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 12px;
  }

  .sidebar_link {
    font-size: 14px;
  }
}
