/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-white);
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}

/* CSS resets */

/* Fonts */

:root {
  --bg-color: #fff;
  --text-black: #333332;
  --text-white: #fff;
  --nav-active-color: #d87f3f;
  --gradient: linear-gradient(-45deg, #de813c, #3f519a);
}

body {
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* Header
=========
*/
.header {
  width: 100%;
  max-height: 80px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  content: url("../assets/nmt_logo.svg");
  max-width: 64px;
  max-height: 64px;
}

.nav {
  align-items: center;
  font-weight: 700;
}

.nav_items {
  display: flex;
}

.nav_item {
  margin-right: 30px;
}

.nav_item:last-child {
  margin: 0;
}

.nav_link {
  position: relative;
  transition: color 0.15s ease-out;
  color: var(--text-white);
}

.nav_link:hover {
  color: var(--nav-active-color);
}

.nav_link::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 0.2rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--nav-active-color);
  transition: transform 0.15s ease-out;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.nav_link.active {
  color: var(--nav-active-color);
}

/* Intro
========
*/
.intro {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/students_logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro_gradient {
  width: 100%;
  height: 100%;
  background-image: var(--gradient);
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 104px;
  font-weight: 800;
  font-family: "Lobster", sans-serif;
}

.subtitle {
  font-size: 36px;
  font-weight: 600;
}

/*Registration*/
.registration {
  margin-top: 65px;
}

.registration_title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 20px;
}

.registration_subtitle {
  margin: 20px 0 10px 0;
  color: var(--text-black);
}

.registration_instructions {
  list-style: decimal inside;
}

.registration_instructions > li {
  padding-bottom: 5px;
}

.registration_instructions > li > ul {
  list-style: disc inside;
  font-size: 16px;
}

.registration_instructions > li > ul > li {
  margin-left: 10px;
  padding-bottom: 5px;
}

.registration_instructions > li > ul > li:last-child {
  padding-bottom: 0;
}

.registration_instructions > li > ul > li > a,
.registration_instructions > li > ul > li > b > a {
  text-decoration: underline;
}

.additional_register_info {
  margin: 10px 0;
  font-weight: 500;
}

.additional_register_info > a {
  text-decoration: underline;
}

.registration_video {
  border: 0;
}

/*Cards*/

.cards {
  margin: 50px 0;
}

.cards_title {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-black);
  text-align: center;
  margin-bottom: 5px;
}

.cards_subtitle {
  text-align: center;
  color: var(--text-black);
  font-weight: 500;
  margin-bottom: 30px;
}

.cards__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.card_img {
  width: 100%;
  max-height: 200px;
  border-radius: inherit;
}

.card_title {
  color: var(--text-black);
  margin: 20px 0;
}

.card_text {
  font-size: 16px;
  font-weight: 300;
  padding: 0 40px 0 40px;
  margin-bottom: 25px;
}

.card_btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_btn {
  display: block;
  background: var(--gradient);
  color: var(--text-white);
  padding: 15px 25px;
  border-radius: 30px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 600;
  transition: box-shadow 0.15s ease-out;
  width: auto;
  max-width: 150px;
  cursor: pointer;
}

.card_btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

/*Coaches*/
.coaches {
  margin-bottom: 80px;
}

.team_description {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto 35px auto;
}

.coach_title {
  font-size: 50px;
  font-weight: 700;
  color: var(--text-black);
  margin-bottom: 20px;
}

.coach_subtitle {
  font-weight: 300;
  color: var(--text-black);
}

.coach_description {
  text-align: center;
}

.coaches__inner {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 20px 60px 40px 60px;
}

.coach_name {
  color: var(--text-black);
}

.coach_profession {
  color: var(--text-black);
}

/*Reviews*/
.review__inner {
  display: flex;
  height: fit-content;
}

.review_left {
  flex: 3 1 0;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}

.review_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.reviewer_name {
  color: var(--text-black);
  font-size: 65px;
  margin-bottom: 50px;
}

.review_text {
  font-weight: 300;
}

.review_scores {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider_item {
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.slider_item > .bar {
  background: var(--gradient);
  height: 10px;
  border-radius: 15px;
}

.slider_text {
  display: flex;
  justify-content: space-between;
}

/*.slider_item::after {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 100%;*/
/*  height: 8px;*/
/*  border-radius: 10px;*/
/*  position: absolute;*/
/*  background: var(--gradient);*/
/*}*/

.review_right {
  flex: 2 1 0;
}

.review_img {
  max-height: 750px;
  border-radius: 15px;
}

/*Footer*/
.footer {
  width: 100%;
  height: 50px;
  background: var(--gradient);
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer > .container {
  width: 100%;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_copyright {
  color: var(--text-black);
}

.footer_links {
  display: flex;
}

.footer_link {
  margin-left: 8px;
  height: 20px;
}

.footer_link_icon {
  filter: invert(22%) sepia(0%) saturate(1746%) hue-rotate(138deg)
    brightness(101%) contrast(106%);
  height: 20px;
  width: auto;
  transition: all 0.2s ease-out;
}

.footer_link_icon:hover {
  filter: unset;
}
